body {
    padding-top: 60px; /* Navbar */
    padding-bottom: 105px;
}

/* FAQ vertical spacing */
dd {
    padding-bottom: 8px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #111;
}

b {
    margin-left:2px;
    margin-right:2px;
}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ========== User ranking tables ========== */
tr.inter-border > td {
    border-top: 1px dashed #eee !important; /* === dashed */
}

tr.inter-border:not(:last-child) > td {
    border-bottom: 1px dashed #eee !important;
}

/* Re-instoring solid border for tie delimiters */
tr.double-border-top > td {
    border-top: 1px solid #eee !important;
}

tr.double-border-bottom > td {
    border-bottom: 1px solid #eee !important;
}
/* ========================================= */

/* ============ Responsiveness ============ */
#version-mobile {
    display: none;  
}

@media (max-width: 640px) {
    #version-mobile {
        display: block;
    }
    #version {
        display: none;
    }
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.navbar-brand.mobile {
    text-align: left;
}
/* ======================================== */

/* Not too sure why I ended up needing this */
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

/* Full-page charts */
.large-img {
    max-width: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ============ Panels ============ */
.panel {
    margin: 15px;
}

.panel > .row {
    padding-left: 30px;
    padding-right: 30px;
}

.panel > .row > div {
    padding-left: 0px;
    padding-right: 0px;
}

/* Side-by-side panels in 1x2 or 2xX sub-layouts */
.panel-left {
    padding-right: 0px;
}

.panel-right {
    padding-left: 0px;
}

.panel-low {
    margin-top: 30px;
}
/* --------------------------------------------- */

/* Intra panel horizontal separator */
.hr-large {
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px dashed #808080;
}

/* Intra panel vertical separator */
@media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px dashed #808080;
    }
    .col-md-border + .col-md-border {
        border-left: 1px dashed #808080;
        margin-left: -1px;
    }
}
/* ================================ */

/* ============ Tables ============ */
.table-left {
    padding-right: 10px !important;
}

.table-leftborder {
    border-right: 1px dashed #777;
}

.table-right {
    padding-left: 10px !important;
}

/* Have minimal width for first columns of tables (current ranking) */
td:first-child {
    white-space: nowrap;
    width: 1px;
    border-right: 1px solid #ddd;
}

/* Vertical delimiter separating current ranking from the table data */
th:first-child {
    border-right: 2px solid #ddd;
}
/* ================================ */

/* ============ Used a bit everywhere ============ */
.no-padding {
    padding: 0;
}

.green {
    color: green;
}

.red {
    color: darkred;
}

.top3 {
    margin-top:3px;
}

.top6 {
    margin-top:6px;
}

.top15 {
    margin-top: 15px;
}

.alert-success {
  background-image:none;
  border-color: #b2dba1;
  color: #3c763d;
  background-color: #dff0d8;
}
.alert-info {
  background-image:none;
  border-color: #9acfea;
  color: #31708f;
  background-color: #d9edf7;
}
.alert-warning {
  background-image:none;
  border-color: #f5e79e;
  color: #8a6d3b;
  background-color: #fcf8e3;
}
.alert-danger {
  background-image:none;
  border-color: #dca7a7;
  color: #a94442;
  background-color: #f2dede;
}
.alert-purple {
  background-image:none;
  border-color: #dca7a7;
  color: #a94442;
  background-color: #f2dede;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.alert-purple hr {
  border-top-color: #b5cdd6;
}
.alert-purple .alert-link {
  color: #843534;
}

.alert-success {
    background-color: #77B300;
    border-color: #809A00;
    color: #FFF;
}
.alert-info {
    background-color: #29ABE0;
    border-color: #2571B9;
    color: #FFF;
}
.alert-purple {
    background-color: #93C;
    border-color: #6E2CAF;
    color: #FFF;
}
.alert-warning {
    background-color: #F80;
    border-color: #F05800;
    color: #FFF;
}
.alert-danger {
    background-color: #C00;
    border-color: #BD001F;
    color: #FFF;
}
.alert-success hr {
  border-top-color: #c0ff42;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info hr {
  border-top-color: #29e0a9;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning hr {
  border-top-color: #ffde00;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger hr {
  border-top-color: #ff8000;
}
.alert-danger .alert-link {
  color: #641514;
}
.alert-purple hr {
  border-top-color: #df87e1;
}
.alert-purple .alert-link {
  color: #541355;
}
/* =============================================== */