.full {
    min-height: 300px;
}

.reduced {
    min-height: 120px;
}

textarea {
    min-width: 49%;
    resize: none;
}

body {
    font-family: Arial;
}

#solveBtn {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}